@import "./globals.css";

@theme {
  --font-sans:
    -apple-system, var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  @apply mx-auto max-w-7xl px-6 sm:px-8;
}
