@import "./globals.css";

@theme {
  --font-sans:
    "Inter Variable", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@utility container {
  @apply mx-auto max-w-2xl px-6 sm:px-8;
}
