---
import { Picture } from "astro:assets";
import heroPortrait from "~/assets/hero-portrait.jpeg";
import Layout from "~/layouts/layout.astro";
---

<Layout>
	<main class="container my-16 mt-24">
		<section class="flex gap-4 items-center">
			<Picture
				width={64}
				height={64}
				class={"rounded-xl h-16 w-16 object-cover"}
				layout="constrained"
				src={heroPortrait}
				formats={["webp", "avif"]}
				alt={"Personal portrait"}
				loading="eager"
			/>
			<div>
				<h1 class="text-lg leading-tight font-semibold text-neutral-800">
					Chad Fernandez
				</h1>
				<p class="text-muted-foreground leading-tight tracking-tight">
					Student, Developer, Self-taught.
				</p>
			</div>
		</section>
		<section class="mt-8">
			<p class="leading-7 text-primary">
				I am a senior Information Technology student and software engineer
				focused on building scalable, high-impact web applications. My passion
				lies in transforming ideas into deployed, real-world products that offer
				tangible value to users.
			</p>
		</section>
	</main>
</Layout>
