---
import { Button } from "~/components/ui/button"
import Welcome from "~/components/welcome.astro"
import Layout from "~/layouts/layout.astro"
---

<Layout>
	<Welcome />
	<Button>Click me</Button>
</Layout>
